<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:action="@{/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name"/>
    </div>
    <div>
        <label for="surname">Surname:</label>
        <input type="text" th:field="*{surname}" id="surname"/>
    </div>
    <div>
        <label for="year">Year:</label>
        <input type="number" th:field="*{year}" id="year"/>
    </div>
    <div>
        <button type="submit">Update User</button>
    </div>
</form>
</body>
</html>